﻿@{
    ViewBag.Title = "GeracaoArquivo";
}
<div>
    <h2>Geração de Arquivos</h2>
    <hr />
</div>
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>
<h3>Select a file</h3>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <!-- COMPONENT START -->
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group row" style="width:600px;">
                    <div class="input-group">
                        <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                        <div class="input-group-btn">
                            <div class="fileUpload btn btn-primary">
                                <span><i class="glyphicon glyphicon-folder-open"></i> Browse</span>
                                <input id="file" type="file" class="upload" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="input-group">
                        <div class="fileUpload">
                            <button type="submit" class="btn btn-success" id="btnUpload">
                                <span class="glyphicon glyphicon-upload"></span>
                                Upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<table id="tblFiles" class="table table-striped table-bordered table-hover"></table>

<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

@section scripts {

    <script src="~/Scripts/notify.min.js"></script>
    <script src="~/Scripts/DataTables/datatables.min.js"></script>

    <script>

        var datatable

        $(document).ready(function () {

            //-------------------------------------------------------------------------------------------
            // Apenas pegar o valor de nome do arquivo

            document.getElementById("file").onchange = function () {
                document.getElementById("uploadFile").value = this.value;
            };
            //-------------------------------------------------------------------------------------------

            datatable = $('#tblFiles').DataTable({
                "ajax": {
                    "url": "/Home/FilesList",
                    "type": "POST",
                    "dataSrc": function (json) { return json.data; }
                },
                "columns": [
                    {
                        "title": "Nome do arquivo",
                        "data": "FileName"
                    },
                    {
                        "title": "Nome da pasta",
                        "data": "FilePath"
                    }
                ],
                "ordering": false,
                "searching": false
            });
        });

        //-------------------------------------------------------------------------------------------

        //-----------------------------------------------------------------------------------------------------------------------------------------

        $('#btnUpload').on('click', function () {
            var data = new FormData();
            var files = $("#file").get(0).files;

            if (files.length > 0) { data.append("HelpSection", files[0]); }
            else {
                alert('Favor selecione um arquivo.')
                return false;
            }
            $.ajax({
                url: '/Home/SaveFile',
                type: "POST",
                processData: false,
                data: data,
                dataType: 'json',
                contentType: false,
                success: function (response) {
                    if (response != null || response != '')

                        datatable.ajax.reload();

                    $.notify("Saved Successfully", { globalPosition: "top-center", className: "success" });

                    TableFileCount();


                    $("#file").val('');
                },
                error: function (er) { alert() }
            })
            return false;
        });

        // Verifica se tem dados da tabela
        function TableFileCount() {
            var x = document.getElementById("tblFiles").rows.length;

            if (x == 0) {
                document.getElementById("tblFiles").style.visibility = "hidden";
            }
            else {
                document.getElementById("tblFiles").style.visibility = "visible";
            }
        }
    </script>

}
