﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Lista de Emissor x Cadastral</h2>
    <hr />
</div>
<style>
    .modal-header {
        padding: 9px 15px;
        border-bottom: 2px solid #eee;
        background-color: white;
        color: Black;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .modal-footer {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
</style>
<table id="tblLista" class="table table-striped table-bordered table-hover" style="width:100%"></table>
<form id="frm">
    <div class="modal fade" id="resolvedModal" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.8)" ;>
        <div class="modal-dialog" role="document" style="width:95%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" hidden="hidden"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <table id="tblProventos" class="table table-striped table-bordered"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-primary">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

@section scripts{

    <script src="~/Scripts/DataTables/datatables.min.js"></script>
    <script>
        //variable zero
        var CD_CVM = 0
        //variable table
        var dataTable

        $(document).ready(function () {
            //tables of data
            dataTable = $("#tblLista").DataTable({
                "ajax": {
                    "processing": true,
                    "serverSide": true,
                    "url": "/Home/GetData",
                    "type": "POST",
                    "datatype": "json",
                    "dataSrc": function (json) {

                        // Verificar se tem dados ou não
                        if (json.data == null) {
                            alert(' Não tem lista de Emissor por Cadastral. Favor adicionar os arquivos na página Geração de Arquivos.');
                            //Limpar tudo na data table.
                            ClearTableLista();
                            return false;
                        }
                        else { return json.data; }
                    },
                },
                "columns": [
                    {
                        "title": "Emissor",
                        "data": "EMISSOR"
                    },
                    {
                        "title": "Empresa",
                        "data": "EMPRESA",
                        "searchable": false
                    },
                    {
                        "title": "CNPJ",
                        "data": "CNPJ_CIA"
                    },
                    {
                        "title": "Código CVM",
                        "data": "CD_CVM"
                    },
                    {
                        "title": "Proventos em",
                        "data": "CD_CVM", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' onclick=ProventoAtivo(" + data + ");><i class='glyphicon glyphicon-list-alt'></i> Ativos</a><a class='btn btn-success btn-sm' style='margin-left:5px' onclick=ProventoDinheiro(" + data + ");><i class='glyphicon glyphicon-list-alt'></i> Dinheiro</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }
                ],
                //"language": {
                //   "emptyTable": "No data found, Please search again"
                //}
            });

        });

        function ProventoAtivo(id) {
            //title
            $('#myModalLabel').text("Proventos em Ativos");

            //values text
            //tables of data
            dataTable = $("#tblProventos").DataTable({
                "ajax": {
                    "url": "/Home/ProventoAtivo",
                    "type": "POST",
                    "data": { CD_CVM: id },
                    "datatype": "json",
                    "dataSrc": function (json) {
                        // Verificar se tem dados ou não
                        if (json.data == null) {
                            //Limpar tudo na data table. Isso precisa porque quando não limpa eles, se pegar outros dados dai vai confundir com os dados antes. Evite isso!
                            ClearTableProventos();
                            alert(' Não há dados de Eventos Corporativos disponíveis para essa empresa.');
                            return false;
                        }
                        else { $("#resolvedModal").modal('show'); return json.data; }
                    },
                },
                "columns": [
                    {
                        "title": "CorporateActionType",
                        "data": "CorporateActionType"
                    },
                    {
                        "title": "IssuerStock",
                        "data": "IssuerStock"
                    },
                    {
                        "title": "IssuedStock",
                        "data": "IssuedStock"
                    },
                    {
                        "title": "AnnouncementDate",
                        "data": "AnnouncementDate"
                    },
                    {
                        "title": "CumDate",
                        "data": "CumDate"
                    },
                    {
                        "title": "PaymentDate",
                        "data": "PaymentDate"
                    },
                    {
                        "title": "Factor",
                        "data": "Factor"
                    },
                    {
                        "title": "Value",
                        "data": "Value"
                    }
                ],
                //      "language": {

                //            "emptyTable": "No data found, Please search again"
                //          },
                paging: false,
                searching: false,
                ordering: false
            });
        }

        function ProventoDinheiro(id) {
            //title
            $('#myModalLabel').text("Proventos em Dinheiro");

            //values text
            //tables of data
            dataTable = $("#tblProventos").DataTable({
                "ajax": {
                    "url": "/Home/ProventoDinheiro",
                    "type": "POST",
                    "data": { CD_CVM: id },
                    "datatype": "json",
                    "dataSrc": function (json) {
                        // Verificar se tem dados ou não
                        if (json.data == null) {
                            //Limpar tudo na data table. Isso precisa porque quando não limpa eles, se pegar outros dados dai vai confundir com os dados antes. Evite isso!
                            ClearTableProventos();
                            alert('Não há dados de Proventos em Dinheiro disponíveis para essa empresa.');

                            return false;
                        }
                        else { $("#resolvedModal").modal('show'); return json.data; }
                    },
                },
                "columns": [
                    {
                        "title": "CorporateActionType",
                        "data": "CorporateActionType"
                    },
                    {
                        "title": "IssuerStock",
                        "data": "IssuerStock"
                    },
                    {
                        "title": "IssuedStock",
                        "data": "IssuedStock"
                    },
                    {
                        "title": "AnnouncementDate",
                        "data": "AnnouncementDate"
                    },
                    {
                        "title": "CumDate",
                        "data": "CumDate"
                    },
                    {
                        "title": "PaymentDate",
                        "data": "PaymentDate"
                    },
                    {
                        "title": "Factor",
                        "data": "Factor"
                    },
                    {
                        "title": "Value",
                        "data": "Value"
                    }
                ],
                "language": {

                    "emptyTable": "No data found, Please search again"
                },
                searching: false,
                ordering: false,
                paging: false
            });
        }

        function ClearTableLista() {
            // Limpa os dados da tabela
            $('#tblLista').DataTable().clear();
            $('#tblLista').DataTable().destroy();
        }

        function ClearTableProventos() {
            // Limpa os dados da tabela
            $('#tblProventos').DataTable().clear();
            $('#tblProventos').DataTable().destroy();
        }

        //button close modal
        $('#btnClose').on('click', function () {
            $("#resolvedModal .close").click();

            //Limpar tudo na data table. Isso precisa porque quando não limpa eles, se pegar outros dados dai vai confundir com os dados antes. Evite isso!
            ClearTableProventos();
        });
    </script>

}

